@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: none;
  font-family: 'Rubik', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  background: #6e398f url('../assets/portfolio-bg.png') no-repeat center/cover;
  height: 100vh;
  min-height: 900px;
  overflow-x: hidden;
}
